@model List<Caregiver>

@{
    ViewData["Title"] = "Caregivers";
}

<!-- MAIN -->
<head>
    <link href="~/card.css" rel="stylesheet" />
    <style>
        .editimg {
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: right center;
            height: 60vh;
            min-height: 40vh;
            display: flex;
            align-items: center
        }

            .editimg:before {
                background-image: linear-gradient(to left, rgba(77,39,63,0) 0%, #463b46 100%) !important;
            }

        .auto-container {
            position: relative;
            max-width: 1210px;
            padding: 0px 20px;
            margin: 0 auto;
        }

        .header {
            position: relative !important;
            color: #ffffff !important;
            font-weight: 700 !important;
            line-height: 1.2em !important;
            margin-bottom: 10px !important;
            font-size: 62px !important;
            text-transform: capitalize !important;
            text-align: center;
        }

        .card-text {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4; /* Number of lines to show */
            -webkit-box-orient: vertical;
        }

        .show-more {
            color: blue;
            cursor: pointer;
        }

        .hidden {
            display: none;
        }
    </style>
</head>

<div class="slide-item editimg overlay" style="background-image: url('@Url.Content("~/images/slider-4.jpg")')">
    <div class="auto-container">
        <h1 class="heading mb-3 header">Caregivers</h1>
    </div>
</div>

<div class="site-section">
    <div class="container" style="min-width:100%">
        <div class="row">
            <div class="col-md-8 blog-content">
                <section id="gallery">
                    <div class="row">
                        @foreach (var caregiver in Model)
                        {
                            <div class="col-lg-4 mb-4 mx-auto" style="margin-top:3%">
                                <div class="card">
                                    <div class="testimonial text-center">
                                        <img src="@caregiver.Users.ImageUrl" alt="img" class="img-fluid" />
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">@caregiver.Users.FirstName @caregiver.Users.LastName</h5>
                                        <h5 class="card-title small">@caregiver.Service.Name</h5>
                                        <p class="card-text" id="aboutYou_@caregiver.CaregiverId">
                                            @Html.Raw(caregiver.AboutYou.Length > 250 ? caregiver.AboutYou.Substring(0, 250) + "<span class='hidden'>" + caregiver.AboutYou.Substring(250) + "</span>" : caregiver.AboutYou)
                                        </p>
                                        <a asp-action="Profile" asp-route-id="@caregiver.CaregiverId" class="btn btn-outline-success btn-sm">Read More</a>
                                        @{
                                            var averageRating = caregiver.Reviews.Any() ? caregiver.Reviews.Average(r => r.Rate) : 0.0;
                                        }
                                        <a class="btn btn-outline-danger btn-sm">
                                            @if (caregiver.Reviews.Any())
                                            {
                                                <div>
                                                    @String.Format("{0:F1}", averageRating) / 5.0
                                                </div>
                                            }
                                            else
                                            {
                                                <div>
                                                    No reviews yet.
                                                </div>
                                            }
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    
                </section>
            </div>
            <div class="col-md-4 sidebar">
                <div class="sidebar-box">
                    <form asp-action="Caregiver" class="search-form">
                        <div class="form-group">
                            <span class="icon fa fa-search"></span>
                            <input name="SearchItem" type="text" class="form-control" placeholder="Type a name of caregiver">
                        </div>
                        <div class="form-group">
                            <label for="selectedDayOfWeek">Select Day of Week:</label>
                            <select style="width:100%" class="form-control" name="selectedDayOfWeek">
                                <option value="">All</option>
                                <option value="Saturday">Saturday</option>
                                <option value="Sunday">Sunday</option>
                                <option value="Monday">Monday</option>
                                <option value="Tuesday">Tuesday</option>
                                <option value="Wednesday">Wednesday</option>
                                <option value="Thursday">Thursday</option>
                                <option value="Friday">Friday</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="startTime">Start Time:</label>
                            <input type="time" name="startTime" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="endTime">End Time:</label>
                            <input type="time" name="endTime" class="form-control">
                        </div>

                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




