@model Users
@{
    ViewData["Title"] = "Profile";
}
<header>

    <style>
        .editimg {
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: right center;
            height: 60vh;
            min-height: 40vh;
            display: flex;
            align-items: center
        }

            .editimg:before {
                background-image: linear-gradient(to left, rgba(77,39,63,0) 0%, #463b46 100%) !important;
            }

        .auto-container {
            position: relative;
            max-width: 1210px;
            padding: 0px 20px;
            margin: 0 auto;
        }

        .header {
            position: relative !important;
            color: #ffffff !important;
            font-weight: 700 !important;
            line-height: 1.2em !important;
            margin-bottom: 10px !important;
            font-size: 62px !important;
            text-transform: capitalize !important;
            text-align: center;
        }

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" >
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" > </script >
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" > </script >
        <link href="~/profile.css" rel="stylesheet" / >
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" / >
        <link href="~/editprofile/editprofile.css" rel="stylesheet" / >
    </style>
</header>
<body>
    <div class="slide-item editimg overlay" style="background-image: url('@Url.Content("~/images/slider-4.jpg")')">
        <div class="auto-container">
        </div>
    </div>
    <form class="container" asp-controller="User" asp-action="EditProfile" method="post" onsubmit="return validateForm()" enctype="multipart/form-data">
        <div class="row gutters" style="margin-top:10px">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <input asp-for="@Model.userId" hidden />
                <input asp-for="@Model.Password" hidden />
                <input asp-for="@Model.RoleId" hidden />

                <div class="card h-100">
                    <div class="card-body">
                        <div class="account-settings">
                            <div class="user-profile">
                                <div class="user-avatar" style="width: 100%; overflow: hidden;">
                                    <img style="object-fit: cover; width: 100%; min-width: 100%; min-height: 100%;" src="@Url.Content(Model.ImageUrl)" alt="" />
                                    
                                    <label style="border-radius:1px; margin-top:8px" class="btn btn-primary">
                                        Change Photo
                                        <input asp-for="@Model.ImageFile" type="file" value="@Model.ImageUrl" class="form-control shadow-sm" id="exampleInput" placeholder="Enter something..." style="display: none;">
                                    </label>
                                </div>
                                <h5 class="user-name">@Model.FirstName @Model.LastName</h5>
                                <h6 class="user-email"><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="5f262a34361f123e27283a3333713c3032">@Model.Email</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary">Personal Details</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label asp-for="FirstName">First Name</label>
                                    <input asp-for="FirstName" type="text" class="form-control" id="fName" placeholder="Enter first name">
                                    <span id="nameError" class="error-message"></span>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label asp-for="LastName">Last Name</label>
                                    <input asp-for="LastName" type="text" class="form-control" id="lName" placeholder="Enter last name">
                                    <span id="nameError" class="error-message"></span>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label asp-for="Email">Email</label>
                                    <input asp-for="Email" type="email" class="form-control" id="Email" placeholder="Enter email ID">
                                    <span id="emailError" class="error-message"></span>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label asp-for="Phone">Phone</label>
                                    <input asp-for="Phone" type="text" class="form-control" id="Phone" placeholder="Enter phone number">
                                    <span id="phoneError" class="error-message"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label asp-for="City">City</label>
                                    <input asp-for="City" type="text" class="form-control" id="City" required placeholder="Enter City">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label asp-for="DateOfBirth">Date of birth</label>
                                    <input asp-for="DateOfBirth" type="date" class="form-control" id="date">
                                    <span id="dateError" class="error-message"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="text-right">
                                    <a asp-controller="User" asp-action="UserProfile" name="submit" style="border-radius:1px" class="btn btn-secondary">Cancel</a>
                                    <button asp-controller="User" asp-action="EditProfile" type="submit" id="submit" style="border-radius:1px" name="submit" class="btn btn-primary">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <script src="~/editprofile/editprofile.js"></script>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript"></script>
</body>
