@model ElderlyService.Controllers.UserController.ServiceAndTestimonials
@{
    ViewData["Title"] = "Home";
}
<div class="slide-item overlay" style="background-image: url('@Url.Content("~/images/slider-1.jpg")')">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <h1 class="heading mb-3">Expert Care for the Elderly</h1>
                <p class="lead text-white mb-5">At Elderly, we are committed to redefining elderly healthcare, and ensuring that every senior receives the attention and care they deserve.</p>
                <p><a asp-action="Service" class="btn btn-primary">Explore Our Service</a></p>
            </div>
        </div>
    </div>
</div>


<div class="feature-v1">
    <div class="d-lg-flex align-items-center w-100">
        <div class="d-flex pagination-item  h-100">
            <span class="icon-wrap">
                <img src="~/images/svg/svg/001-elderly.svg" alt="Image" class="img-fluid">
            </span>
            <div>
                <span class="subheading">Try Our Services</span>
                <h3 class="heading">Independent Living For Senior Couples</h3>
                <a asp-action="Service" class="small">Learn More</a>
            </div>
        </div>
        <div class="d-flex pagination-item h-100">
            <span class="icon-wrap">
                <img src="~/images/svg/svg/002-elderly-1.svg" alt="Image" class="img-fluid">
            </span>
            <div>
                <span class="subheading">Try Our Services</span>
                <h3 class="heading">We Are Helping the Senior Elderly People</h3>
                <a asp-action="Service" class="small">Learn More</a>
            </div>
        </div>
        <div class="d-flex pagination-item h-100">
            <span class="icon-wrap">
                <img src="~/images/svg/svg/003-rocking-chair.svg" alt="Image" class="img-fluid">
            </span>
            <div>
                <span class="subheading">Try Our Services</span>
                <h3 class="heading">Senior Home Patient Care Services</h3>
                <a asp-action="Service" class="small">Learn More</a>
            </div>
        </div>
    </div>
</div>

@* Services *@
<div class="site-section">
    <div class="container">
        <div class="row">
            @foreach (var service in Model.Services)
            {
                <div class="col-6 col-sm-6 col-md-6 mb-4 mb-lg-0 col-lg-3">
                    <div class="service">
                        <a asp-action="Caregiver" asp-route-id="@service.ServiceId" class="d-block"><img src="@service.ImageUrl" alt="Image" class="img-fluid"></a>
                        <div class="service-inner">
                            <h3>@service.Name</h3>
                            <p>@service.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@{
    var ProfessionalCaregiver = ViewBag.ProfessionalCaregiver;
    var ServiceWeGive = ViewBag.ServiceWeGive;
    var UserUseWebsite = ViewBag.UserUseWebsite;
    var HappyPeople = ViewBag.HappyPeople;
}
@* statistics *@
<div class="site-section bg-primary count-numbers">
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                <div class="counter-wrap text-center">
                    <strong class="counter d-block"><span class="number" data-number="@ProfessionalCaregiver"></span></strong>
                    <span>Professional Caregiver</span>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                <div class="counter-wrap text-center">
                    <strong class="counter d-block"><span class="number" data-number="@ServiceWeGive"></span></strong>
                    <span>Service We Give</span>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                <div class="counter-wrap text-center">
                    <strong class="counter d-block"><span class="number" data-number="@UserUseWebsite"></span></strong>
                    <span>User Use Website</span>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                <div class="counter-wrap text-center">
                    <strong class="counter d-block"><span class="number" data-number="@HappyPeople"></span></strong>
                    <span>Happy People</span>
                </div>
            </div>
        </div>
    </div>
</div>
@* About US *@
<div class="site-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7">
                <div class="section-heading">
                    <h2 class="heading mb-3">Health Care Elderly is for Your Family</h2>
                    <p class="mb-5">Our healthcare project for the elderly is a compassionate initiative designed to cater to the unique needs of our senior community. Focused on providing comprehensive and personalized services.</p>

                    <div class="row">
                        <div class="col-lg-6">
                            <img src="~/images/img_3.jpg" alt="Image" class="img-fluid">
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled ul-check primary">
                                <li>Tailored for individual needs.</li>
                                <li>Fostering social well-being.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">

                <div class="d-block custom-media algin-items-stretch">
                    <div class="img-bg" style="background-image: url('@Url.Content("~/images/img_2.jpg")')"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cover overlay" style="background-image: url('@Url.Content("~/images/slider-2.jpg")')">
    <div class="container">
        <div class="row ">
            <div class="col-lg-7 mx-auto text-center align-self-center">
                <h1 class="mb-5 heading">Our Goal is to Make Your Life Better</h1>
            </div>
        </div>
    </div>
</div>

@* Testomonial *@
<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            @{
                int count = 0;
            }
            @foreach (var testimonials in Model.ReviewsForWebsitess.OrderBy(t => t.DateTime))
            {
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0">
                    <div class="testimonial text-center">
                        <img src="@testimonials.Users.ImageUrl" alt="Image" class="img-fluid">
                        <blockquote>
                            <p class="quote">@testimonials.Comment</p>
                            <cite class="author">@testimonials.Users.FirstName @testimonials.Users.LastName</cite>
                        </blockquote>
                    </div>
                </div>

                count++;
                if(count == 2)
                {
                    break;
                }
            }
        </div>
    </div>
</div>
