@model List<ReviewsForWebsites>
@{
    Layout = "_LayoutForAdmin";
}
@{
    ViewData["Title"] = "Reviews For Websites";
}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>

<div class="container">

    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Reviews For Websites</h2>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int count = 1;
                }
                @foreach (var obj in Model.OrderByDescending(r => r.DateTime))
                {
                    <tr>
                        <th scope="row">@count</th>
                        <td>@obj.Users.FirstName @obj.Users.LastName</td>
                        <td>
                            <button type="button" class="btn btn-secondary btn-sm modal-trigger-button" data-review-id="@obj.ReviewID">
                                View Comment
                            </button>


                            <!-- Notes Modal -->
                            <div class="modal fade" id="notes-@obj.ReviewID" tabindex="-1" role="dialog" aria-labelledby="notesModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="notesModalLabel" style="color:black">Comment</h5>
                                            
                                        </div>
                                        <div class="modal-body">
                                            @obj.Comment
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </td>

                        <td>@obj.status</td>
                        <td>@obj.DateTime.ToString("yyyy-MM-dd")</td>
                        @if (obj.status == ReviewsForWebsites.Status.pending)
                        {
                            <td>
                                <a data-id="@obj.ReviewID" class="btn btn-primary mx-2 Approve">
                                    <i class="bi bi-pencil-square"></i> Approve
                                </a>
                                <a data-id="@obj.ReviewID" class="btn btn-danger mx-2 Reject">
                                    <i class="bi bi-trash-fill"></i> Reject
                                </a>
                            </td>
                        }
                        else if (obj.status == ReviewsForWebsites.Status.Approved)
                        {
                            <td>
                                <a data-id="@obj.ReviewID" class="btn btn-danger mx-2 Reject">
                                    <i class="bi bi-trash-fill"></i> Reject
                                </a>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a data-id="@obj.ReviewID" class="btn btn-primary mx-2 Approve">
                                    <i class="bi bi-pencil-square"></i> Approve
                                </a>
                            </td>
                        }
                    </tr>
                    count++;
                }
            </tbody>
        </table>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {

        $('.Approve').on('click', function () {
            var id = $(this).data('id');

            Swal.fire({
                title: 'Are you sure?',
                text: 'You won\'t be able to revert this!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, Accept it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    // User clicked Yes, handle the deletion here
                    window.location.href = '@Url.Action("ShowOrDelTestimonials", "Admin")' + '?id=' + id + '&status=true';
                }
            });
        });

        $('.Reject').on('click', function () {
            var id = $(this).data('id');

            Swal.fire({
                title: 'Are you sure?',
                text: 'You won\'t be able to revert this!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    // User clicked Yes, handle the deletion here
                    window.location.href = '@Url.Action("ShowOrDelTestimonials", "Admin")' + '?id=' + id + '&status=false';
                }
            });
        });

        $('.modal-trigger-button').on('click', function () {
            var reviewId = $(this).data('review-id');
            console.log('Modal Trigger ID:', reviewId);

            // Trigger the modal with the unique ID
            $('#notes-' + reviewId).modal('show');
        });
    });

</script>
